.animacionnube {
    position: absolute;
    animation: nube 17s forwards;
    transform: translate(-100%,-50%);
    top: 200px;
    animation-delay: 4s;

  }
  
  @keyframes nube {
    0% {
      right: -100%; 
    }
    40% {
      right: 30%; 
    }
    60% {
      right: 30%; 
    }
    100% {
      right: 100%; 
    }
  }
  

  .animacionflor {
    position: absolute;
    left: 20%;
    opacity: 0;
    animation: bloomAndDisappear 6s ;
    animation-delay: 22s;
  }
  
  @keyframes bloomAndDisappear {
    from {
      margin-top: 40%; 
      opacity: 100;
    }
  
    to {
      margin-top: 30%; 
    }
  }

.animacionlluvia{
  position: absolute;
  width: 250px;
  height: 300px;
  top: 350px;
  left: 250px;
  animation: lluvia 3s linear forwards, lluvia2 5s;
  animation-delay: 10s;
  opacity: 0;
}


  @keyframes lluvia {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
  
    100% {
        opacity: 0; 
      }
    }


  @keyframes lluvia2 {
    0% {
        top: 180px;
    }

  
    100% {
        top: 300px; 
      }
  }
  
  


.animacionsol1{
  position: absolute;
  width: 200px;
  left: 1735px;
  opacity: 10;
  animation: soli 30s ;
  animation-delay: 0s;
}

@keyframes soli {
  0% {
      opacity: 0.2;
  }
  50%{
      opacity: 0.2;
  }

  100% {
      opacity: 1; 
    }
}





.animacion3 {
  position: absolute;
  font-size: 60px;
  left: 30%;
  opacity: 0;
  animation: bloomAndDisappear 1s ;
  animation-delay: 0s;
}

@keyframes bloomAndDisappear {
  from {
    margin-top: 20%; 
    opacity: 100;
  }

  to {
    margin-top: 20%; 
  }
}

.animacion2 {
  position: absolute;
  font-size: 60px;
  left: 30%;
  opacity: 0;
  animation: bloomAndDisappear 1s ;
  animation-delay: 1s;
}

@keyframes bloomAndDisappear {
  from {
    margin-top: 40%; 
    opacity: 100;
  }

  to {
    margin-top: 30%; 
  }
}

.animacion1 {
  position: absolute;
  font-size: 60px;
  left: 30%;
  opacity: 0;
  animation: bloomAndDisappear 1s ;
  animation-delay: 2s;
}

@keyframes bloomAndDisappear {
  from {
    margin-top: 40%; 
    opacity: 100;
  }

  to {
    margin-top: 30%; 
  }
}

.animacionaccion {
  position: absolute;
  font-size: 60px;
  left: 30%;
  opacity: 0;
  animation: bloomAndDisappear 1s ;
  animation-delay: 3s;
}

@keyframes bloomAndDisappear {
  from {
    margin-top: 40%; 
    opacity: 100;
  }

  to {
    margin-top: 30%; 
  }
}













p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }



.fondo{
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
}
.sol{
    position: absolute;
    width: 200px;
    left: 1735px;

}


.flores{
    position: absolute;
    width: 50px;

}
.casa{
    position: absolute;
    width: 800px;
    left: 600px;
    top: 300px;

}
