.animacionnube {
    position: absolute;
    animation: nube 5s forwards;

  }
  
  @keyframes nube {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;

    }
  }

  .animacionflor {
    position: absolute;
    left: 20%;
    opacity: 0;
    animation: bloomAndDisappear 5s ;
    animation-delay: 5s;
  }
  
  @keyframes bloomAndDisappear {
    from {
      margin-top: 40%; 
      opacity: 100;
    }
  
    to {
      margin-top: 30%; 
    }
  }

.animacionlluvia{

}
.animacionsol{

}












p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }



.fondo{
    position: absolute;
    width: 1920px;
    height: 900px;
    top: 0px;
    left: 0px;
}
.sol{
    position: absolute;
    width: 200px;
    left: 1735px;

}


.flores{
    position: absolute;
    width: 50px;

}
.casa{
    position: absolute;
    width: 800px;
    left: 600px;
    top: 300px;

}
