#titulo{
    color: black;
    border: 7px solid white;
    text-align: center;

    
}

#titulo1{
    color: black;
    text-align: center;
   
}


#titulo3{
    border: 7px solid purple;



}

.imagen {

    margin-left: 530px;

}

#margen{
    margin: 230px;
    margin-top: 50px;
    
}


