.miflex {
    display: flex;
    background-color: rgb(208, 217, 255);
    flex-wrap: wrap;
  }
  
  .miflex  div {
    background-color: #ffc8c8;
    margin: 20px;
    text-align: center;
    align-items: stretch;
    font-size: 30px;
    padding: 20px;
    flex-grow: 1;
  }

  h1{
    text-align: center;
  }
<<<<<<< HEAD

  .carro1{

    display: flexbox;
  }
   .carro2{

    display: flexbox;
  }
   .carro3{

    display: flexbox;
  }
   .carro4{

    display: flexbox;
  }
=======
>>>>>>> e2514d758d71d0f32beebf8dc9d6d3a26fd543b7
