.body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}


.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: cuadro4;}
.item5 { grid-area: cuadro5;}

.grid-container {
  display: grid;
  grid-template-rows: 360px 360px 500px 130px;
  grid-template-columns: 550px 540px ;
  grid-template-areas:
    'menu cuadro4'
    'main cuadro4'
    'cuadro5 cuadro5';
  gap: 20px;
  background-color: #000000;
  padding: 20px;
}



.item6 { grid-area: cuadro6;}
.item7 { grid-area: cuadro7;}
.item8 { grid-area: cuadro8;}

.grid-container2 {
  display: grid;
  grid-template-rows: 360px 390px ;
  grid-template-columns: 550px 540px ;
  grid-template-areas:
    'cuadro6 cuadro8'
    'cuadro7 cuadro8';
  gap: 20px;
  background-color: #000000;
  padding: 20px;
}

.body2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.grid-container > div {
  padding: 20px 0; 
  border: 1px solid ;
}

.grid-container2 > div {
  padding: 20px 0;
}

.imagen1{
  width: 540px;
  height: auto;
  border-radius: 35px;

}
.imagen2{
  width: 539px;
  height: auto;
  border-radius: 35px;

}
.imagen3{
  width: 515px;
  height: auto;
  border-radius: 35px;

}

.videos{
  border-radius: 35px;
}



