.fondo{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: white;
}
@font-face {
    font-family: regular;
    src: url(/DIA6/fuentes/regular.ttf);
}
@font-face {
    font-family:semibold ;
    src: url(/DIA6/fuentes/semibold.ttf);
}

.barra{
    position: absolute;
    background-color: #000000;
    top: -8px;
    left: 1816px;
    width: 190px;
    height: 1100px;

}


.metrolinea{
    position: absolute;;
    top: 43px;
    left: 43px;
    border: 1px solid rgb(255, 255, 255);
}


.carro{
    position: absolute;
    top: 58px;
    left: 1700px;
}

.lupa{
    position: absolute;
    top: 62px;
    left: 1550px;
}

.tarjeta{
    position: absolute;
    top: 100px;
    left: 500px;
}

.texto3{
    position: absolute;
    top: 43px;
    left: 1375px;
    font-size: 39px;
    color: #000000;
    text-decoration: none;
    font-family: regular;
}

.texto4{
    position: absolute;
    top: 43px;
    left: 1100px;
    font-size: 39px;
    color: #000000;
    text-decoration: none;
    font-family: regular
}

.rectangulo{
    position: absolute;
    top: 850px;
    left: 1500px;
}

.metrolinea2{
    position: absolute;
    top: 885px;
    left: 1534px;
}

.texto5{
    position: absolute;
    top: 939px;
    left: 1574px ;
    font-size: 30px;
    font-family: semibold;
}

.texto6{
    position: absolute;
    top: 570px;
    left: 580px ;
    font-size: 50px;
    font-family: semibold;

}

.texto7{
    position: absolute;
    top: 660px;
    left: 750px ;
    font-size: 35px;
    font-family: semibold;
}

.texto8{
    position: absolute;
    top: 730px;
    left: 830px ;
    font-size: 35px;
    font-family: semibold;
}
.texto9{
    position: absolute;
    color: white;
    font-family:regular;
    top: 160px;
    left: 1888px;
    font-size: 30px;
    font-family: regular;
}
.linea{
    position: absolute;
    top: 90px;
    left: 1360px;
}
.up{
    position: absolute;
    top: 50px;
    left: 1890px;

}
.down{
    position: absolute;
    top: 1000px;
    left: 1890px;

}