.fondo{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: white;
}
@font-face {
    font-family: regular;
    src: url(/DIA6/fuentes/regular.ttf);
}
@font-face {
    font-family:semibold ;
    src: url(/DIA6/fuentes/semibold.ttf);
}
.logo2{
    width: 10px;
    height: 10px;
}

.barra{
    position: absolute;
    background-color:#212020;
    top: -8px;
    left: 1816px;
    width: 190px;
    height: 1100px;

}


.metrolinea{
    position: absolute;;
    top: 43px;
    left: 43px;
    border: 1px solid rgb(255, 255, 255);
}

.texto{
    position: absolute;
    font-family:semibold;
    top: 861px;
    left: 43px;
    width: 900px;
    text-align: left;
    font-size: 50px;
    color: #000000;
    opacity: 1;

}

.texto2{
    position: absolute;
    top: 939px;
    left: 43px;
    font-family: semibold;
    font-size: 35px;
    text-align: left;
    color: #000000;
    opacity: 1;
}

.carro{
    position: absolute;
    top: 56px;
    left: 1700px;
}

.lupa{
    position: absolute;
    top: 57px;
    left: 1575px;
}

.tarjeta{
    position: absolute;
    top: 100px;
    left: 150px;
    width: 884px;
    height: 540px;
}

.texto3{
    position: absolute;
    top: 43px;
    left: 1375px;
    font-size: 39px;
    font-family: regular;
    color: #000000;
    text-decoration: none;
}

.texto4{
    position: absolute;
    top: 43px;
    left: 1020px;
    font-size: 39px;
    font-family: regular;
    color: #000000;
    text-decoration: none;
}

.rectangulo{
    position: absolute;
    top: 850px;
    left: 1500px;
}

.metrolinea2{
    position: absolute;
    top: 885px;
    left: 1534px;
}

.texto5{
    position: absolute;
    top: 939px;
    left: 1565px ;
    font-size: 30px;
    font-family: semibold;
}
.texto9{
    position: absolute;
    color: white;
    top: 160px;
    left: 1850px;
    font-size: 30px;
    font-family: regular;
}
.linea{
    position: absolute;
    top: 95px;
    left: 1100px;
}
.up{
    position: absolute;
    top: 50px;
    left: 1890px;

}
.down{
    position: absolute;
    top: 1000px;
    left: 1890px;

}
.numero1{
    position: absolute;
    top: 350px;
    left: 1895px;
    color: #FFFFFF80;
    font-size: 30px;
    font-family: regular;

}

.numero2{
    position: absolute; 
    top: 500px;
    left: 1895px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: regular;

}

.numero3{
    position: absolute;
    color: #FFFFFF80;
    top: 650px;
    left: 1895px;
    font-size: 30px;
    font-family: regular;
}